{% extends 'admin_template/base.html' %}

{% block main_content %}


<main>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">ajouter une matièree</h3></div>
                                <div class="card-body">
                                    <form role="form" method="post" action="{% url 'add_matiere_save' %}">
                                        {% csrf_token %}
                                        
                                                <div class="mb-3">
                                                    <label for="inputFirstName">Nom de la matiere</label>
                                                    <input class="form-control" id="nom" type="text" placeholder="nom de la matière" name="nom" />
                                                    
                                                </div>
                                            

                                            <div class="mb-3">
                                                    <select name="classe" id="" class="form-select form-select-lg mb-3">
                                                        {% for c in classe %}
                                                        <option value="{{c.id}}">

                                                            {{ c.nom }} 

                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                            </div>

                                            <div class="mb-3">
                                                    <select name="personnel" id="" class="form-select form-select-lg mb-3">
                                                        {% for p in pers %}
                                                        <option value="{{p.id}}">
                                                            {{p.first_name}} {{p.last_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                            </div>
                                        <div class="mb-3">
                                            {% if messages %}
                                            {% for message in messages %}
                                                {% if message.tags == 'success' %}
                                                    <div class="alert alert-success" role="alert">                      
                                                       <em>{{ message }}</em>
                                                    </div>
                                                {% endif %}
                                                {% if message.tags == 'error' %}
                                                    <div class="alert alert-warning" role="alert">                        
                                                      <em>{{ message }}</em>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                         {% endif %}
                                           
                                        </div>
                                           
                                            <div class="d-grid gap-2">
                                            <button  class="btn btn-success"> Ajouter</button>
                                        </div>
                                       
                                        
                                       
                                            
                                        
                                    </form>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</main>

{% endblock main_content %}