{% extends 'admin_template/base.html' %}

{% block main_content %}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Listes des sessions</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
               <a href="{% url 'add_session' %}" class="btn btn-success" ><i class="fa fa-plus"></i> Créer une session</a>
            </div>
        </div>
        <div class="card mb-4">
            
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Intitule</th>
                            <th>Debut</th>
                            <th>Fin</th>
                            <th>Actions de Modifications</th>
                            <th>Actions de Suppressions</th>
                           
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for s in sessions %}
                        <tr>
                            <td>{{s.id}}</td>
                            <td>{{s.intitule}}</td>
                            <td>{{s.debut}} </td>
                            <td>{{s.fin}}</td>
                            
                            <td > <a href="/edit_session/{{s.id}}" class="btn btn-primary"> modifier</a></td>
                            <div class="col-md-6">
                                <td> <a class="btn btn-danger" href="/delete_session/{{s.id}}"><i class="fa fa-trash"></i> supprimer</a></td>
                            </div>
                            
                        </tr>
                        {% endfor %}

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock main_content %}