{% extends 'admin_template/base.html' %}

{% block main_content %}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Liste des etudiants</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="mt-2 mb-2">
               <a  href="{% url 'add_student'%}" class="btn btn-success"><i class="fa fa-plus"></i> AJOUTER</a>
               <a href="{% url 'transferer_etudiant' %}" class="btn btn-success"><i class="fa fa-exchange"></i> Transfert</a>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>photo</th>
                            <th>Matricule</th>
                            <th>Noms</th>
                            <th>Prenoms</th>
                            <th>Adresse</th>
                            <th>Dernière connexion</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Date d'ajout</th>
                            <th>Classe</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for s in students %}
                        <tr>
                            <td>{{s.admin.id}}</td>
                              <td>
                                <img src="{{s.profile_pic.url}}" alt="" width="70" height="70">
                            </td>
                            <td>{{s.numero_matricule}}</td>
                            <td>{{s.admin.last_name}}</td>
                            <td>{{s.admin.first_name}}</td>
                            <td>{{s.adresse}}</td>
                            <td>{{s.admin.last_login}}</td>
                            <td>{{s.admin.email}}</td>
                            <td>{{s.telephone}}</td>
                            <td>{{s.admin.date_joined}}</td>
                            <td>{{s.classe}}</td>
                            <td > <a href="/edit_student/{{s.admin.id}}" class="btn btn-primary"> <i class="fa fa-edit"></i> </a></td>
                            
                        </tr>
                        {% endfor %}

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock main_content %}